@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-base {
  @apply px-4 py-2 border border-gray-300  rounded-md text-gray-700 hover:bg-gray-100 active:bg-gray-200 transition-colors  whitespace-nowrap overflow-hidden;
}

.btn-wrapper {
  @apply grid grid-cols-2 sm:grid-cols-4 sm:w-3xl gap-2 w-full max-w-lg mx-auto my-4;
}

.checkbox-base {
  @apply gap-2 mx-4 my-1 w-20;
}

.checkbox-container {
  @apply flex flex-row items-center justify-center flex-wrap w-full sm:w-2xl my-auto mt-4;
}

.graph-container {
  @apply w-full sm:max-w-4xl mx-auto px-4 mt-8;
}
